<html>
<head>
<title>How to Play Pause & Stop Audio file using JavaScript & HTML5</title>
</head>
<body>
	<h1 style = "color:red" >The Audio File</h1>
	<h2 style = "font-family: Algerian">DOM Audio play() method</h2>
	
	<audio id = "idAudio">
		<source src = "static/song1.mp3" type = "audio/ogg" >
		<source src = "static/song2.mp3" type ="audio/mpeg">The browser is not supporting the audio element...
	</audio>
<p> Click the "Play Audio" to play the Audio.</p>
	<button onclick = "playaudio()" type = "button" > Play the Audio </button>
	<button onclick = "pauseaudio()" type = "button" > Pause the Audio </button>
	<button onclick = "stopaudio()" type = "button" > Stop the Audio </button>
	<script>
		var a = document.getElementById("idAudio");
		function playaudio() {
			a.play();
		}
		function pauseaudio() {
			a.pause();
		}
		function stopaudio() {
			a.pause();
			a.currentTime = 0;
		}
	</script>
</body>
</html>