<!DOCTYPE html>
<html>
<head>


</head>
<body>



<center>
  <h1>Luxury Cars</h1>
  
  <script>
    function light(sw) {
      var pic;
      var price;
      if (sw == 5) {
        pic = "app/Porche-911.jpg"
        price=200000
      } 
    
      else if (sw==1) {
        pic ="../Mercedes-G.jpg"
        price=300000
      }
    
      else if (sw==2) {
        pic ="/Lamborghini.jpg"
        price=500000
      }
    
      else if (sw==3) {
        pic =".../Maserati.jpg"
        price=600000
      }
    
      else {
        pic = "showroom.jpg"
        price=345000
      }
      document.getElementById('myImage').src = pic;
      document.getElementById('carprice').innerHTML = price;
      return false;
    }
    </script>

    <table>
    <tr>
    <td width="30%" align="center"><img id="myImage" src="showroom.jpg" width="100"></td><td align="center"><div id="carprice"></div></td>  
    </tr>  
    </table>

    
    <p>
    <button type="button" onclick="light(5)">Porche-911</button>
    <button type="button" onclick="light(1)">Mercedes-G</button>
    <button type="button" onclick="light(2)">Lamborghini</button>
    <button type="button" onclick="light(3)">Maserati</button>
    </p>
</center>
</body>
</html>